name: Python Tests (Sprint 3)

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest

      - name: Run test suite
        run: |
          export PYTHONPATH=frontend/docmedaa_frontend
          python -m pytest frontend/docmedaa_frontend/test

